{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>用户问题管理</h1>
</div>

{% if form %}
<div class="row">
	<div class="col-md-10">
	    {{ wtf.quick_form(form, form_type="horizontal") }}
	    {% if current_user.can(Permission.WRITE_ARTICLES) %}
	    {% endif %}
	</div>
</div>
{% endif %}
<br />
<hr />
<div class="row" id="problem_list">
筛选：<input id="filterName" value=""></input>
<br />
<br />
<table id="example" class="table table-striped table-hover table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>ftp_url</th>
            <th>添加者</th>
            <th>添加时间</th>
            <th>dl ok</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    {% for post in posts %}
        <tr>
            <td>"{{ post.ftp_url[-55:] }}"</td>
            <td>{{ post.author.username }}</td>
            <td>{{ moment(post.timestamp).format('YY-M-D, h:mm:ss') }}</td>
            <td>{{ log_status[post.id]["status"] }}</td>
            <td>
                {% if log_status[post.id]["status"] %}
                <a href="{{ url_for('log_analyzer.analyzer_res', id=post.id) }}"><span class="label label-primary">查看</span></a>
                {% else %}
                <!-- <span class="label label-default" id="poll" value="{{ log_status[post.id]['log_dir'] }}">下载进度</span> -->
                {% endif %}
                |<a href="{{ url_for('log_analyzer.del_ana', id=post.id) }}">
                    <span class="label label-default">Delete</span>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'log_analyzer.analyzer_show') }}
</div>
{% endif %}

{% block footer %}
{{super()}}
{% endblock %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
<script>
$(function() {
  $('#filterName').keyup(function(){
	$("table tbody tr").hide().filter(":contains('"+( $(this).val() )+"')").show();
  });
});
// $(function() {
//   $('#poll').click(function(){
// 	$.get("", {
// 		url: $("#poll").val()
// 	}, function(data, textStatus){

// 	}, "json");
//   });
// });
</script>
{% endblock %}
