{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}LogAna{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>分析结果</h1>
</div>
<div class="row">
<div class="col-md-8">
	<p>Basic Info:</p>
	<p>Basic Info of {{ url }}</p>
</div>
</div>
<hr />
<div id="RSSI_chart" class="row" style="height: 400px"></div>
<div id="ping_chart" class="row" style="height: 400px"></div>

<div class="row">
<div class="col-md-5">
<br />
<table id="logfile" class="table table-striped table-hover table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th colspan="2">log files:  <input type="checkbox" id="LogFilesToggle" checked="1">隐藏/展开</input> </th>
        </tr>
    </thead>
    <tbody>
    <tr style="display: none">
        <td>File</td>
        <td>Size</td>
    </tr>
    {% for log_file in log_files %}
        <tr style="display: none">
            <td><a href="{{ url_for('log_analyzer.downloads_file', filename=log_file[0]) }}">{{ log_file[1] }}</a></td>
            <td>{{ log_file[2] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
<hr />

<div class="row">
<div class="col-md-9">
    TODO: 添加根据关键字过滤log的方法。> {{ kw_list }}
<br />
<br />

<form method="post" class="form form-horizontal" role="form" action="{{ url_for('log_analyzer.analyzer_res', id=id, all=0) }}">
<table id="keywords" class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>关键字（正则）</th>
            <th>描述</th>
            <th>说明</th>
            <th>添加者</th>
        </tr>
    </thead>
    <tbody>
    {% for key in kw_format %}
        <tr id="bt_{{ kw_format[key]['bt'].id }}">
            <td colspan="4" style="background-color: #ccc;"><input type="checkbox" class="kw_checkAll_by_bt" checked="checked"> </input>{{ kw_format[key]['bt'].name }}</td>
        </tr>
        {% for kw in kw_format[key]['kw'] %}
        <tr class="kw_bt_{{ kw_format[key]['bt'].id }}">
            <td style="padding-left: 35px">
                <input type="checkbox" id="kw_list_{{ kw_format[key]['bt'].id }}" name="kw_list" class="kw_check" {% if kw.id in kw_list %} checked="checked" {% endif %} value="{{ kw.id }}"> </input>
                "{{ kw.kw_regex }}"</td>
            <td>{{ kw.description }}</td>
            <td>{{ kw.comment }}</td>
            <td>{{ kw.author.username }}</td>
        </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
<input class="btn btn-default" id="submit" name="submit" type="submit" value="过滤上面的关键词">
</form>
<hr />
</div>
</div>

<div class="row">
	<div class="col-md-8">
		筛选：<input id="kw_filter" value=""></input> <i> TODO: Add regex.</i>
	</div>
</div>
<br>

<div class="row">
<table id="example" class="table table-hover table-bordered" cellspacing="0" width="100%" style="table-layout:fixed">
    <thead>
        <tr>
            <th width="150px">time</th>
            <th width="115px">desc</th>
            <th width="40px">tag</th>
            <th>content</th>
        </tr>
    </thead>
    <tbody>
    {% for post in ana_res %}
    	{% if post['tag']=='I' %}
        <tr  class="active">
    	{% elif post['tag']=='D' %}
        <tr  class="success">
    	{% elif post['tag']=='W' %}
        <tr  class="warning">
    	{% elif post['tag']=='E' %}
        <tr  class="danger">
    	{% endif %}
            <td>{{ post['time'] | safe }}</td>
            <td style="background-color:#ccc;">{{ post['desc'] }}</td>
            <td>{{ post['tag'] }}</td>
            <td>{{ post['cont'] | safe }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<br />
{% block footer %}
{{super()}}
{% endblock %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
<script type='text/javascript' src="{{ url_for('static', filename='echarts.min.js') }}"></script>
<script>
$(function() {
    // for log files table.
    $('#LogFilesToggle').click(function(){
        $("#logfile tbody tr").toggle();
    });
});

$(function() {
    $('#kw_filter').keyup(function(){
        $("table tbody tr").hide().filter(":contains('"+( $(this).val() )+"')").show();
    });

    $('.kw_checkAll_by_bt').click(function(){
        var checkALL_id = $(this).parent().parent().prop("id");
        $('.kw_'+checkALL_id+' td input').prop('checked', $(this).prop('checked'));
        // console.info('.kw_'+checkALL_id+' td input');
    });

    $('.kw_check').click(function(){
        var tr_class = $(this).parent().parent().prop("class");
        var checkbox_id = $(this).prop('id');
        // console.info(tr_class.substring(3)+", check_id="+checkbox_id);
        $checkAll = $('#'+tr_class.substring(3)+' td input');
        // console.info($checkAll.prop('class'));
        $checkAll.prop('checked', $("#"+checkbox_id+":checked").length ? true : false);
        // console.info($("#"+checkbox_id+":checked").length);
    });
});

// 页面加载后需要根据"checkAll"的子元素调整自己的状态。
$(function() {
    $('.kw_checkAll_by_bt').each(function(){
        var checkALL_id = $(this).parent().parent().prop("id");
        // console.info(checkALL_id);
        $(this).prop('checked', $('.kw_'+checkALL_id+' td input:checked').length ? true : false)
        // console.info('.kw_'+checkALL_id+' td input:checked');
    });
});
</script>

<script>
// 基于准备好的dom，初始化echarts实例
var myChart = echarts.init(document.getElementById('RSSI_chart'));

// 指定图表的配置项和数据
var option = {
    title: {
        text: 'WIFI信号强度状态',
        x: 'center'
    },
    tooltip: {},
    legend: {
        data:['RSSI-Time']
    },
    xAxis: {
        name: 'Time',
        data: {{ RSSI_arr[0] | safe }}
    },
    yAxis: {
        name: 'RSSI(dBm)'
    },
    series: [{
        name: 'RSSI',
        type: 'line',
        data: {{ RSSI_arr[1] }}
    }]
};

// 使用刚指定的配置项和数据显示图表。
myChart.setOption(option);
</script>

<script>
// 基于准备好的dom，初始化echarts实例
var myChart = echarts.init(document.getElementById('ping_chart'));

// 指定图表的配置项和数据
var option = {
    title: {
        text: 'ping时延状态',
        x: 'center'
    },
    tooltip: {},
    legend: {
        data:['ping时延-Time']
    },
    xAxis: {
        name: 'Time',
        data: {{ ping_arr[0] | safe }}
    },
    yAxis: {
        name: 'ping时延(ms)'
    },
    series: [{
        name: 'RSSI',
        type: 'line',
        data: {{ ping_arr[1] }}
    }]
};

// 使用刚指定的配置项和数据显示图表。
myChart.setOption(option);
</script>
{% endblock %}
